footer {
    width: 100%;
    background-color: black;
    margin-top: auto;
    height: 10vh;

    text-align: center;


    a {
        color: white;
        transition: all .2s;

        text-decoration: none;
        font-family: 'Nunito', sans-serif;
        font-size: 1.05em;

        &:hover {
            transition: all .2s;
            color: grey;
        }
    }

    p {
        color: white;
        font-family: 'Nunito', sans-serif;
        font-size: 1.05em;
        margin-top: 1%;
    }
}